In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [2]:
PATH = 'Fertilizer Prediction.csv'
df = pd.read_csv(PATH)

In [3]:
df.head()

    N  P   K  Temparature  Humidity   Moisture Fertilizer Name
0  37  0   0           26         52        38            Urea
1  12  0  36           29         52        45             DAP
2   7  9  30           34         65        62        14-35-14
3  22  0  20           32         62        34           28-28
4  35  0   0           28         54        46            Urea

In [4]:
df.tail()

     N   P   K  Temparature  Humidity   Moisture Fertilizer Name
94  24   0  19           25         50        32           28-28
95   4  17  17           30         60        27        10-26-26
96  39   0   0           38         72        51            Urea
97  15   0  41           36         60        43             DAP
98  12   0  10           29         58        57           20-20

In [5]:
df.size

693

In [6]:
df.shape

(99, 7)

In [7]:
df.columns

Index(['N', 'P', 'K', 'Temparature', 'Humidity ', 'Moisture',
       'Fertilizer Name'],
      dtype='object')

In [8]:
df['Fertilizer Name'].unique()

array(['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20',
       '10-26-26'], dtype=object)

In [9]:
df.dtypes

N                   int64
P                   int64
K                   int64
Temparature         int64
Humidity            int64
Moisture            int64
Fertilizer Name    object
dtype: object

In [10]:
df['Fertilizer Name'].value_counts()

Fertilizer Name
Urea        22
DAP         18
28-28       17
14-35-14    14
20-20       14
17-17-17     7
10-26-26     7
Name: count, dtype: int64

In [12]:
# sns.heatmap(df.corr(),annot=True)

In [14]:
features = df[['N', 'P', 'K', 'Temparature', 'Humidity ', 'Moisture']]
target = df['Fertilizer Name']
labels = df['Fertilizer Name']

In [15]:
# Initializing empty lists to append all model's name and corresponding name
acc = []
model = []

In [16]:
# Splitting into train and test data

from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2,random_state =2)

# Guassian Naive Bayes

In [17]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score

NaiveBayes = GaussianNB()

NaiveBayes.fit(Xtrain,Ytrain)

predicted_values = NaiveBayes.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('Naive Bayes')
print("Naive Bayes's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

Naive Bayes's Accuracy is:  0.85
              precision    recall  f1-score   support

    10-26-26       0.00      0.00      0.00         3
    14-35-14       1.00      1.00      1.00         2
    17-17-17       0.25      1.00      0.40         1
       20-20       1.00      1.00      1.00         4
       28-28       1.00      1.00      1.00         3
         DAP       1.00      1.00      1.00         2
        Urea       1.00      1.00      1.00         5

    accuracy                           0.85        20
   macro avg       0.75      0.86      0.77        20
weighted avg       0.81      0.85      0.82        20

In [18]:
# Cross validation score (NaiveBayes)
score = cross_val_score(NaiveBayes,features,target,cv=5)
score

array([1.  , 1.  , 1.  , 0.95, 1.  ])

# Saving trained Guassian Naive Bayes model

In [19]:
import pickle
# Dump the trained Naive Bayes classifier with Pickle
NB_pkl_filename = 'Fertilizer_Classifier.pkl'
# Open the file to save as pkl file
NB_Model_pkl = open(NB_pkl_filename, 'wb')
pickle.dump(NaiveBayes, NB_Model_pkl)
# Close the pickle instances
NB_Model_pkl.close()

# Making a prediction

In [20]:
data = np.array([[22,0,20,32,62,34]])
prediction = NaiveBayes.predict(data)
print(prediction)

['28-28']